html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #7D7987;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1224px;
  padding: 0 15px;
  margin: 0 auto;
}
