.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 15px 80px;
}

.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 40px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 18px;
  line-height: 23px;
  color: #1f1534;
  opacity: 0.5;
}

.nav__link--active {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  opacity: 1;
}

.hero {
  margin-bottom: 7%;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__box {
  display: flex;
  flex-direction: column;
  max-width: 445px;
  margin-right: 25px;
}

.hero__title {
  margin-bottom: 25px;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.hero__subtitle {
  margin-bottom: 45px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
}

.hero__button {
  width: 200px;
  height: 60px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  color: #ffffff;
  background: #458ff6;
  border-radius: 55px;
}

.services {
  margin-bottom: 13%;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__title {
  margin-bottom: 61px;
}

.services__subtitle {
  max-width: 952px;
  margin: auto;
  margin-bottom: 80px;
  text-align: center;
}

.services__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 48px;
}

.services__item {
  display: flex;
  flex-direction: column;
  flex-basis: 32%;
  padding: 47px 38px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin-bottom: 37px;
}

.services__item-img {
  margin-bottom: 22px;
}

.services__item-title {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
}

.services__item-subtitle {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}

.services__button {
  text-align: center;
}

.features {
  margin-bottom: 14%;
}

.healthcare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1125px;
  margin-bottom: 220px;
}

.healthcare__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 486px;
}

.healthcare__img {
  margin-right: 14%;
}

.healthcare__title {
  margin-bottom: 59px;
  text-align: left;
}

.healthcare__subtitle {
  margin-bottom: 37px;
}

.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
}

.download__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 420px;
}

.download__img {
  margin-left: 7%;
}

.download__title {
  margin-bottom: 59px;
  text-align: left;
}

.download__subtitle {
  margin-bottom: 37px;
}

.download__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: 1px 43px;
}

.download__button-text {
  margin-right: 14px;
}

.feedback {
  color: #fff;
  margin-bottom: 15%;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  text-align: center;
  margin-bottom: 93px;
}

.card__inner {
  max-width: 1120px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding: 64px 118px 79px;
}

.card__info {
  display: flex;
}

.card__customer {
  display: flex;
  align-items: center;
}

.customer__details {
  display: flex;
  align-items: center;
  margin-right: 110px;
}

.customer__avatar {
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: 29px;
}

.customer__name {
  font-family: "Mulish", sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
}
.customer__position {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  line-height: 48px;
  color: rgba(255, 255, 255, 0.85);
}

.customer__feedback {
  max-width: 420px;
  font-family: "Mulish", sans-serif;
  font-size: 19px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
}

.articles {
  margin-bottom: 10%;
}

.articles__container {
  display: flex;
  flex-direction: column;
}

.articles__title {
  margin-bottom: 79px;
}

.articles__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 6%;
}

.articles__item {
  flex: 0 1 calc(33% - 1em);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  
}

.articles__img {
  width: 100%;
  height: 246px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 24px;
}

.articles__text {
  padding: 0 35px 33px;
}

.articles__item-title {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 12px;
}

.articles__item-subtitle {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  margin-bottom: 25px;
}

.articles__item-button {
  border: none;
  text-align: left;
  padding: 0;
  cursor: pointer;
}

.articles__button-text {
  margin-right: 11px;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ed;
  background-color: transparent;
  border: none;
  outline: none;
}

.articles__button {
  width: 200px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  color: #fff;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 118px 15px 109px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  max-width: 391px;
}

.footer__logo {
  width: 160px;
  height: 41px;
  margin-bottom: 17px;
}

.footer__slogan,
.footer__copyright {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.footer__slogan {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 31px;
}

.footer__copyright {
  font-size: 16px;
  line-height: 28px;
}

.footer__box {
  width: 635px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__nav {
  color: #fff;
  flex-direction: column;
}

.footer__nav-list {
  flex-direction: column;
}

.footer__nav-item {
  margin-bottom: 5px;
}

.footer__nav-item:first-child {
  margin-bottom: 20px;
  margin-right: 0;
}

.footer__nav-link {
  color: #fff;
  opacity: 1;
}

@media (max-width: 1270px) {
  .hero__img {
    height: auto;
  }
  .healthcare__img {
    height: auto;
  }
  .download__img {
    height: auto;
  }

  .articles__item {
    flex-basis: 48%;
    margin-bottom: 25px;
  }
  .articles__text {
    padding: 0 13px 33px;
  }
}

@media (max-width: 1150px) {
  .card__customer {
    width: 100%;
    flex-direction: column;
  }
  .customer__details {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .customer__feedback {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .services__item {
    flex-basis: 49%;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .hero__container {
    flex-direction: column;
  }
  .hero__box {
    align-items: center;
    text-align: center;
    margin-right: 0;
  }

  .hero__img {
    order: -1;
    margin-bottom: 25px;
  }

  .services__item {
    flex-basis: 100%;
  }

  .healthcare {
    margin-bottom: 10%;
    flex-direction: column;
  }

  .healthcare__img {
    margin-right: 0;
    margin-bottom: 12%;
  }

  .download {
    margin-bottom: 10%;
    flex-direction: column;
  }

  .download__img {
    margin-left: 0;
    margin-bottom: 12%;
  }

  .download__box {
    max-width: 486px;
  }
  .card__inner {
    padding: 32px 60px 40px;
  }
  .articles__item {
    flex-basis: 100%;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__nav {
    display: flex;
  }
  .footer__info {
    margin-bottom: 10%;
  }

  .footer__box {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .button {
    line-height: 45px;
    padding: 1px 38px;
  }
  .title {
    font-size: 32px;
    line-height: 42px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 28px;
  }

  .hero__title {
    font-size: 42px;
    line-height: 48px;
  }
  .hero__subtitle {
    font-size: 18px;
    line-height: 28px;
  }
  .hero__img {
    width: 260px;
  }
  .services__item-title {
    line-height: 36px;
    margin-bottom: 10px;
  }
  .services__item {
    padding: 23px 15px;
  }
  .healthcare__img {
    width: 260px;
  }
  .download__img {
    width: 260px;
  }
  .customer__details {
    flex-direction: column;
  }
  .customer__avatar {
    margin-right: 0;
  }

  .customer__details {
    text-align: center;
  }

  .card__inner {
    padding: 32px 8px 40px;
  }

  .articles__item-button {
    padding: 0;
  }

  .footer__container {
    padding: 59px 15px 54px;
  }

  .footer__box {
    justify-content: inherit;

  }

  .footer__nav {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}